body {
    background: black !important;
    color: white !important;
    font-family: 'Open Sans', sans-serif !important;
    width: 100%;
    height: 100%;
}
.logo {
    margin-top: 0px;
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
}
.benedenindex{
    position: fixed;
    left: 0;
    bottom: 10px;
    font-size: 12px;
    width: 100%;
    color: white;
    text-align: center;
}
#naam2 {
    background: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
}
#naam3 {
    background: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
}
#naam4 {
    background: black;
    margin-top: -6%;
    top: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
}
.tekst {
    margin-top: 0%;
    margin-left: 7%;
    margin-right: 7%;
}
#naam1 {
    background: black;
    top: 2px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
}
.section1 {
    display: inline-block;
}
.section2 {
    display: inline-block;
}
.section3 {
    display: inline-block;
}
.section4 {
    display: inline-block;
}
.section5 {
    display: inline-block;
}
#adress1 {
    margin-left: 5%;
    margin-right: 5%;
}
#adress2 {
    margin-right: 5%;
}
#adress3 {
    margin-right: 45%;
}
#adress4 {
    margin-left: 5%;
}
#adress5 {
    margin-left: 5%;
}
#adress6 {
    margin-left: 5%;
}
#adress1:hover {
   opacity: 0.6;
}
#adress2:hover {
    opacity: 0.6;
}
#adress3:hover {
    opacity: 0.6;
}
#adress4:hover {
    opacity: 0.6;
}
#adress5:hover {
    opacity: 0.6;
}
#adress6:hover {
    opacity: 0.6;
}
#adress1.tooltiptext1 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
#adress2.tooltiptext1 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
#adress3.tooltiptext1 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
#adress4.tooltiptext1 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
#adress5.tooltiptext1 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
#adress6.tooltiptext1 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
#adress1:hover.tooltiptext1 {
  visibility: visible;
}
#adress2:hover.tooltiptext2 {
  visibility: visible;
}
#adress3:hover.tooltiptext3 {
  visibility: visible;
}
#adress4:hover.tooltiptext4 {
  visibility: visible;
}
#adress5:hover.tooltiptext5 {
  visibility: visible;
}
#adress6:hover.tooltiptext6 {
  visibility: visible;
}
.containeradress {
    position: sticky;
    top: 2px;
    margin-top: -58px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    width: 35px;
    z-index: 2;
    cursor: pointer;
}
.myprojectsname {
    text-align: center;
    font-size: 4vh;
    margin-top: -5vh;
}
.myprofilename {
    text-align: center;
    font-size: 4vh;
    margin-top: -4vh;
}
#image { 
    margin-top: 0px;
    width: 85%;
    height: 85%; 
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.imagecontainer {
    position: relative;
    margin-top: 0.5%;
    max-height: 400px;87979
}
.imagetekst {
    position: absolute;
    top: 8px;
    left: 56px;
    font-size: 22px;
    width: 90%;
    height: 90%;
    margin-left: 8%;
    width: 300px;
}
#sectionchange {
    
}
#containerprojectchange{
    
}
.containerproject1 {
    position: relative;
    float: left;
    margin-left: 7%;
    margin-top: 10px;
    width: 16%;
    padding-top: 28px;
    cursor: pointer;
}
.imageproject1 {
    z-index: 1;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    margin-top: -50px;
    transition: .5s ease;
    backface-visibility: hidden;
}
#textprojectchange {
    
}
.textproject1 {
    background-color: #000;
    color: white;
    font-size: 17px;
    padding: 15px 15px;
    text-align: center;
    border-radius: 10px;
}
.middleproject1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 27%;
    left: 50%;
    margin-bottom: 50%;
    width: 100%;
    max-width: 95%;
    height: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.containerproject1:hover .imageproject1 {
    opacity: 0.6;
}
.containerproject1:hover .middleproject1 {
    opacity: 1;
}
* {
  box-sizing: border-box;
}

#textprojectchange {
    
}
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: inherit;
    padding-top: 80%;
    margin-bottom: -80%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    opacity: 1;
}
.modalimage1 {
    max-height: 115%;
    width: 45%;
    padding-right: 20%;
    padding-bottom: 15%;
    position: absolute;
    margin-top: -480px;
}
/* Modal Content */
.modal-content {
    display: block;
    position: inherit;
    background-color: #fefefe;
    margin-top: -1150px;
    margin-left: 12%;
    margin-right: auto;
    padding-left: 25%;
    padding-right: 25%;
    width: 100%;
    height: 100%;
    max-width: 5000px;
    max-height: 5000px;
    z-index: -10;
}

/* The Close Button */
.close {
    z-index: 5;
    color: white;
    position: absolute;
    margin-top: 54%;
    top: 0px;
    right: 420px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.mySlides1 {
  display: none;
}

.mySlides2 {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    outline-color: white;
    font-weight: bold;
    background-color: grey;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 30%;
    margin-top: 50%;
    border-radius: 0px 10px 10px 0px;
}
.prev {
    left: 30%;
    margin-top: 50%;
    border-radius: 10px 0px 0px 10px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    margin-left: -55px;
    position: absolute;
    padding-top: 55%;
    top: 0;
}

.phototext {
    color: #f2f2f2;
    font-size: 12px;
    left: 20%;
    right: 20%;
    position: absolute;
    padding-top: 98%;
    top: 0%;
    text-align: center;
}
img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.SkillsLeft {
    position: absolute;
    width: 100%;
    left: 3%;
    color: gold;
}
.SkillsMiddle {
    position: absolute;
    right: 5px;
    width: 69%;
    color: #FF0808;
}
.SkillsRight {
    position: absolute;
    right: 0px;
    width: 37%;
    color: plum;
}
#Skills {
    margin-bottom: 30px;
    font-size: 120%;
    font-weight: 700;
}
#lil {
    list-style-type: none;
    transition: 0.3s;
    width: 20.5%;
}
#lim {
    list-style-type: none;
    transition: 0.3s;
    width: 34%;
}
#lir {
    list-style-type: none;
    transition: 0.3s;
    width: 63%;
}
#lil:hover{
    background-color: #735E23;
    padding: 0.5%;
    width: 20.5%;
    border-radius: 5%;
}
#lir:hover{
    background-color: darkslateblue;
    padding: 1.5%;
    width: 63%;
    border-radius: 5%;
}
#lim:hover{
    background-color: #912302;
    padding: 0.7%;
    width: 34%;
    border-radius: 5%;
}
.sterren{
    position: absolute;
    left: 20%;
    margin-top: -1.5%;
    color: white;
}
.sterrenM{
    position: absolute;
    left: 30%;
    margin-top: -2%;
    color: white;
}
.sterrenR{
    position: absolute;
    left: 50%;
    margin-top: -4%;
    color: white;
}
.Educatie {
    position: absolute;
    left: 30%;
    margin-top: 0.2%;
    color: dodgerblue;
    right: 40%;
}
.EducatieTekst {
    position: absolute;
    left: 30%;
    margin-top: 0.2%;
    color: lightgrey;
    right: 44%;
}
.Educatie1 {
    position: absolute;
    left: 30%;
    margin-top: 10%;
    color: dodgerblue;
    right: 40%;
}
.EducatieTekst1 {
    position: absolute;
    left: 30%;
    margin-top: -0%;
    color: lightgrey;
    right: 44%;
}
.highschool{
    color: dodgerblue;
    margin-top: 13%;
}
.work {
    position: absolute;
    color: darkseagreen;
    left: 60%;
    margin-top: -24.5%;
}
.Job {
    position: absolute;
    left: 75%;
    margin-top: -21.5%;
    color: forestgreen;
}
.Job0 {
    position: absolute;
    left: 60%;
    margin-top: -21.5%;
    color: forestgreen;
}
.JobTekst {
    position: absolute;
    left: 75%;
    margin-top: -18.5%;
    color: lightgrey;
    right: 5%;
}
.JobTime{
    position: absolute;
    left: 60%;
    margin-top: -18.5%;
    color: lightgrey;
}
.Job1 {
    position: absolute;
    left: 75%;
    margin-top: -5.3%;
    color: forestgreen;
}
.Job2 {
    position: absolute;
    left: 60%;
    margin-top: -5.3%;
    color: forestgreen;
}
.JobTekst1 {
    position: absolute;
    left: 75%;
    margin-top: -2.5%;
    color: lightgrey;
    right: 5%;
}
.JobTime1{
    position: absolute;
    left: 60%;
    margin-top: -2.5%;
    color: lightgrey;
}
.Dutch:link, .Dutch:visited {
    background-color: aqua;
    font-size: 20px;
    color: black;
    padding: 9px;
    border-radius: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 2%;
}
.Dutch:hover, .Dutch:active {
    background-color: aquamarine;
}
.English:link, .English:visited {
    background-color: aqua;
    font-size: 20px;
    color: black;
    padding: 9px;
    border-radius: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 2%;
}
.English:hover, .English:active {
    background-color: aquamarine;
}
@media only screen and (max-width: 1110px) {
    .textproject1{
        font-size: 14px;
    }
    .PJtekst1{
        font-size: 13px;
    }
    .PJtekst2{
        font-size: 13px;
    }
    .PJtekst3{
        font-size: 13px;
    }
    .PJtekst4{
        font-size: 13px;
    }
}

@media only screen and (max-width: 1000px) {
    .tekst {
        font-size: 8px;
    }
    /*.section2 {
        margin-top: -2%;
        margin-bottom: -7%;
    }
    .section3 {
        margin-top: -9%;
        margin-bottom: -9%;
    }
    .section4 {
        margin-top: -9%;
        margin-bottom: -9%;
    }
    .section5 {
        margin-top: -9%;
        margin-bottom: -9%;
    } */
    #h2 {
        margin-top: 3%;
    }
    #h3 {
        margin-top: 4%;
    }
    #h4 {
        margin-top: 5%;
    }
    .imagetekst {
        font-size: 15px;
    }
    #naam1{
        font-size: 30px;
    }
    #naam2{
        margin-top: -30px;
        font-size: 30px;
    }
    #naam3{
        margin-top: -25px;
        font-size: 30px;
    }
    #naam4{
        margin-top: -25px;
        font-size: 30px;
    }
    #adress1{
        margin-top: -54px;
    }
    #adress2{
        margin-top: -31px;
    }
    #adress3{
        margin-top: -30px;
    }
    #adress4{
        margin-top: -30px;
    }
    #adress5{
        margin-top: -30px;
    }
    #adress6{
        margin-top: -30px;
    }
    
}
@media only screen and (max-width: 980px) {
    #adress1{
        margin-right: 7%;
        margin-top: -56px;
    }
    #adress2{
        margin-right: 15%;
        margin-top: -35px;
    }
    #adress3{
        margin-right: 23%;
        margin-top: -35px;
    }
    #adress4{
        margin-left: 7%;
        margin-top: -30px;
    }
    #adress5{
        margin-left: 15%;
        margin-top: -35px;
    }
    #adress6{
        margin-left: 23%;
        margin-top: -38px;
    }
    #h1 {
        font-size: 30px;
    }
    #h3 {
        font-size: 30px;
    }
    #h4 {
        font-size: 30px;
    }
    .imagetekst {
        font-size: 14px;
    }
    .textproject1{
        font-size: 12px;
    }
    .PJtekst1{
        margin-left: 9%;
    }
    .PJtekst2{
        margin-left: 13%;
    }
    .PJtekst3{
        margin-left: 13%;
    }
    .PJtekst4{
        margin-left: 13%;
    }
    #naam1{
        margin-top: 20px;
        font-size: 30px;
    }
    #naam2{
        margin-top: -45px;
        font-size: 30px;
    }
    #naam3{
        margin-top: -40px;
        font-size: 30px;
    }
    #naam4{
        margin-top: -35px;
        font-size: 30px;
    }
}
@media only screen and (max-width: 890px) {
    #h1 {
        font-size: 25px;
    }
    #h3 {
        font-size: 25px;
    }
    #h4 {
        font-size: 25px;
    }
    .container {
        height: 25px;
        width: 25px;
    }
    .imagetekst {
        font-size: 13px;
    }
    .container   {
        height: 25px;
        width: 25px;
    }
    .PJtekst1{
        font-size: 11px;
    }
    .PJtekst2{
        font-size: 11px;
    }
    .PJtekst3{
        font-size: 11px;
    }
    .PJtekst4{
        font-size: 11px;
    }
    #adress1{
        height: 30px;
        width: 30px;
        margin-right: 6%;
    }
    #adress2{
        height: 30px;
        width: 30px;
        margin-right: 12%;
        margin-top: -31px;
    }
    #adress3{
        height: 30px;
        width: 30px;
        margin-right: 20%;
        margin-left: 78%;
        margin-top: -30px;
    }
    #adress4{
        height: 30px;
        width: 30px;
        margin-left: 6%;
        margin-top: -30px;
    }
    #adress5{
        height: 30px;
        width: 30px;
        margin-left: 12%;
        margin-top: -30px;
    }
    #adress6{
        height: 30px;
        width: 30px;
        margin-left: 18%;
        margin-right: 1%;
        margin-top: -30px;
    }
    #naam1{
        margin-top: 20px;
        font-size: 30px;
    }
    #naam2{
        margin-top: -39px;
        font-size: 30px;
    }
    #naam3{
        margin-top: -30px;
        font-size: 30px;
    }
    #naam4{
        margin-top: -25px;
        font-size: 30px;
    }
}
@media only screen and (max-width: 840px) {
    .textproject1{
        font-size: 10px;
    }
}
@media only screen and (max-width: 790px) {
    #h1 {
        font-size: 20px;
    }
    #h3 {
        font-size: 20px;
    }
    #h4 {
        font-size: 20px;
    }
    .container {
        height: 20px;
        width: 20px;
    }
    .imagetekst {
        font-size: 12px;
        width: 200px;
    }
    .textproject1{
        font-size: 9px;
        margin-left: -1%;
        margin-right: -1%;
        margin-top: 25%;
        padding: 10px;
    }
}
@media only screen and (max-width: 720px) {
    .PJtekst1{
        margin-left: 9%;
    }
    .PJtekst2{
        margin-left: 10%;
    }
    .PJtekst3{
        margin-left: 11%;
    }
    .PJtekst4{
        margin-left: 11%;
    }
    #naam1{
        font-size: 28px;
    }
    #naam2{
        margin-top: -35px;
        font-size: 28px;
    }
    #naam3{
        margin-top: -25px;
        font-size: 28px;
    }
    #naam4{
        margin-top: -30px;
        font-size: 28px;
    }
    #adress1{
        height: 25px;
        width: 25px;
        margin-right: 6%;
        margin-top: -49px;
    }
    #adress2{
        height: 25px;
        width: 25px;
        margin-right: 12%;
        margin-top: -25px;
    }
    #adress3{
        height: 25px;
        width: 25px;
        margin-right: 20%;
        margin-left: 78%;
        margin-top: -25px;
    }
    #adress4{
        height: 25px;
        width: 25px;
        margin-left: 6%;
        margin-top: -25px;
    }
    #adress5{
        height: 25px;
        width: 25px;
        margin-left: 12%;
        margin-top: -22px;
    }
    #adress6{
        height: 25px;
        width: 25px;
        margin-left: 18%;
        margin-right: 1%;
        margin-top: -26px;
    }
}
@media only screen and (max-width: 660px) {
    #h1 {
        font-size: 20px;
    }
    #h3 {
        font-size: 20px;
    }
    #h4 {
        font-size: 20px;
    }
    container. {
        font-size: 20px;
    }
    #adress1{
        height: 22px;
        width: 22px;
        margin-right: 5%; 
        margin-top: -46px;
    }
    #adress2{
        height: 22px;
        width: 22px;
        margin-right: 11%; 
        margin-top: -22px;
    }
    #adress3{
        height: 22px;
        width: 22px;
        margin-right: 15%; 
        margin-left: 80%;
        margin-top: -22px;
    }
    #adress4{
        height: 22px;
        width: 22px;
        margin-left: 4%; 
        margin-top: -22px;
    }
    #adress5{
        height: 22px;
        width: 22px;
        margin-left: 11%; 
        margin-top: -22px;
    }
    #adress6{
        height: 22px;
        width: 22px;
        margin-left: 17%;
        margin-right: 1%;
        margin-top: -22px;
    }
    .imagetekst {
        font-size: 10px;
        width: 150px;
    }
    .textproject1{
        font-size: 7px;
        margin: -1%;
        margin-top: 25%;
        padding: 10px;
    }
    .PJtekst1{
        font-size: 9px;
        margin-left: 9%;
    }
    .PJtekst2{
        font-size: 9px;
        margin-left: 10%;
    }
    .PJtekst3{
        font-size: 9px;
        margin-left: 12%;
    }
    .PJtekst4{
        font-size: 9px;
        margin-left: 12%;
    }
}
@media only screen and (max-width: 600px) {
    #naam1{
        font-size: 21px;
    }
    #naam2{
        margin-top: -35px;
        font-size: 21px;
    }
    #naam3{
        margin-top: -25px;
        font-size: 21px;
    }
    #naam4{
        margin-top: -25px;
        font-size: 21px;
    }
    .myprojectsname{
        margin-top: 3%;
        font-size: 30px;
    }
    #adress1{
        margin-right: 4%; 
        margin-top: -37px;
    }
    #adress2{
        margin-right: 11%; 
        margin-top: -22px;
    }
    #adress3{
        margin-left: 78%;
        margin-top: -22px;
    }
    #adress4{
        margin-left: 4%; 
        margin-top: -22px;
    }
    #adress5{
        margin-left: 12%; 
        margin-top: -22px;
    }
    #adress6{
        margin-left: 19%;
        margin-top: -22px;
    }
}
@media only screen and (max-width: 550px) {
    #naam1{
        margin-top: 4%;
        font-size: 19px;
    }
    #naam2{
        margin-top: -40px;
        font-size: 19px;
    }
    #naam3{
        margin-top: -20px;
        font-size: 19px;
    }
    #naam4{
        margin-top: -20px;
        font-size: 19px;
    }
    .PJtekst1{
        font-size: 8px;
        margin-left: 9%;
    }
    .PJtekst2{
        font-size: 8px;
        margin-left: 10%;
    }
    .PJtekst3{
        font-size: 8px;
        margin-left: 10%;
    }
    .PJtekst4{
        font-size: 8px;
        margin-left: 10%;
    }
    #adress1{
        margin-right: 4%; 
        margin-top: -35px;
    }
    #adress2{
        margin-right: 12%; 
        margin-top: -22px;
    }
    #adress3{
        margin-left: 76%;
        margin-top: -22px;
    }
    #adress4{
        margin-left: 4%; 
        margin-top: -22px;
    }
    #adress5{
        margin-left: 12%; 
        margin-top: -22px;
    }
    #adress6{
        margin-left: 20%;
        margin-top: -22px;
    }
}
