body {
    background: black;
    color: white;
}
.logo {
    margin-top: 0px;
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tekst {
    margin-top: 80px;
}
#h1 {
    position: sticky;
    top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#icon1 {
    color: white;
    position: sticky;
    margin-top: -58px;
    top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    padding-right: 8%;
}
#icon2 {
    color: white;
    position: sticky;
    top: 5px;
    margin-top: -53px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    padding-right: 16%;
}
#icon3 {
    color: white;
    position: sticky;
    top: 5px;
    margin-top: -53px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    padding-right: 24%;
    padding-left: 3%;
}
#icon4 {
    color: white;
    position: sticky;
    top: 5px;
    margin-top: -53px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 8%;
}
#icon5 {
    color: white;
    position: sticky;
    top: 5px;
    margin-top: -53px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 16%;
}
#icon6 {
    color: white;
    position: sticky;
    top: 5px;
    margin-top: -53px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 24%;
    padding-right: 3%
}
@media only screen and (max-width: 980px) {
    #h1 {
        font-size: 30px;
    }
}
@media only screen and (max-width: 890px) {
    #h1 {
        font-size: 25px;
    }
    h1 {
        font-size: 25px;
    }
}
@media only screen and (max-width: 890px) {
  h1 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 790px) {
    #h1 {
        font-size: 20px;
    }
    h1 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 660px) {
    #h1 {
        font-size: 20px;
    }
    h1 {
        font-size: 20px;
    }
    #icon1{
        padding-right: 5%; 
    }
    #icon2{
        padding-right: 10%; 
    }
    #icon3{
        padding-right: 15%; 
        padding-left: 1%;
    }
    #icon4{
        padding-left: 5%; 
    }
    #icon5{
        padding-left: 10%; 
    }
    #icon6{
        padding-left: 15%;
        padding-right: 1%;
    }
}
